# See the sshd_config(5) manpage for details
# Mozilla SSH guidelines https://infosec.mozilla.org/guidelines/openssh#Modern

Port {{ ssh_port }}

# Use these options to restrict which interfaces/protocols sshd will bind to
#ListenAddress ::
#ListenAddress 0.0.0.0

#DenyUsers *
#AllowUsers
#DenyGroups *
#AllowGroups admin

Protocol 2
# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

# Prevent user setting environment options
PermitUserEnvironment no

# Use kernel sandbox mechanisms where possible in unprivileged processes
# Systrace on OpenBSD, Seccomp on Linux, seatbelt on MacOSX/Darwin, rlimit elsewhere.
UsePrivilegeSeparation sandbox

# Logging
SyslogFacility AUTH
LogLevel VERBOSE

# Authentication
AuthenticationMethods publickey
#AuthorizedKeysFile	%h/.ssh/authorized_keys
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
StrictModes yes
LoginGraceTime 30
MaxAuthTries 10

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

# Idle timeout
ClientAliveInterval 600
ClientAliveCountMax 3
TCPKeepAlive no

X11Forwarding no
X11DisplayOffset 10

PrintMotd no
PrintLastLog yes

# Log sftp level file access (read/write/etc.) that would not be easily logged otherwise.
Subsystem sftp  /usr/lib/ssh/sftp-server -f AUTHPRIV -l INFO

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

# Disable reverse DNS lookup to make SSH start faster
UseDNS no

# https://infosec.mozilla.org/guidelines/openssh#Modern
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# Compatibility config https://github.com/ioerror/duraconf
# Ciphers aes256-ctr
# MACs hmac-sha2-512
