server {
    server_name  www.{{ item }};
    listen 80;
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name  {{ item }};
    listen 80;
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name  www.{{ item }};

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_dhparam /etc/nginx/ssl/dhparam.pem;
    # ssl_certificate /etc/nginx/ssl/{{ item }}.crt;
    # ssl_certificate_key /etc/nginx/ssl/{{ item }}.key;

    access_log  /var/log/nginx/www.{{ item }}_access.log  main;
    error_log   /var/log/nginx/www.{{ item }}_error.log  error;

    rewrite ^(.*) https://{{ item }}$1 permanent;
}

server {
    server_name {{ item }};

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_dhparam /etc/nginx/ssl/dhparam.pem;
    # ssl_certificate /etc/nginx/ssl/{{ item }}.crt;
    # ssl_certificate_key /etc/nginx/ssl/{{ item }}.key;

    access_log  /var/log/nginx/{{ item }}_access.log  main;
    error_log   /var/log/nginx/{{ item }}_error.log  error;

    root /var/www/{{ item }};
    index index.html index.htm;

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location ~ /\. {
        deny all;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
