# interfaces(5) file used by ifup(8) and ifdown(8)
auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
  address {{ kvm.eth0.address }}
  netmask {{ kvm.eth0.netmask }}
  gateway {{ kvm.eth0.gateway }}
  dns-nameservers 208.67.222.222 208.67.220.220

auto br0
iface br0 inet static
  address {{ kvm.br0.address }}
  netmask {{ kvm.br0.netmask }}
  gateway {{ kvm.br0.gateway }}
  dns-nameservers 208.67.222.222 208.67.220.220
  bridge_ports eth0
  bridge_stp off
  bridge_maxwait 0
  bridge_fd 0

# auto br0
# iface br0 inet dhcp
#   pre-up ip link add br0 type bridge
#   pre-up ip link set dev br0 address 11:22:33:44:55:66
#   pre-up ip link set eth0 master br0
#   post-down ip link set eth0 nomaster
#   post-down ip link delete br0
#   bridge_stp off
#   bridge_fd 0
#   bridge_maxwait 0

# auto br0
# iface br0 inet static
#   address 192.168.1.100
#   gateway 192.168.1.1
#   netmask 255.255.255.0
#   dns-nameservers 8.8.8.8
#   metric 1
#   bridge_ports eth0
#   bridge_fd 9
#   bridge_hello 2
#   bridge_maxage 12
#   bridge_stp off
